.App {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #F0F0F3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 30%;
  height: 65%;
  background: #F0F0F3;
  display: flex;
  flex-direction: column;
}

.calc-display {
  height: 40%;
  border-radius: 12px 12px 0px 0px;
  background-color: #1d1c1c;
  margin: 0px 10px;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}

.calc-display-value {
  font-size: 2em;
  font-weight: 700;
  text-align: end;
  padding: 0px 10px;
  min-height: 2.8rem;
}

.calc-display-history {
  color: gray;
  font-size: 1.8em;
  font-weight: 500;
}

.calc-display-history1 {
  color: gray;
  font-size: 1.6em;
  font-weight: 500;
}

.calc-display-history2 {
  color: rgb(85, 84, 84);
  font-size: 1.4em;
  font-weight: 400;
}

#ellipse-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 75%;
  top: 70%;
  border-radius: 50%;
  background: #F0F0F3;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
}

#ellipse-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 15%;
  top: 80%;
  border-radius: 50%;
  background: #F0F0F3;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
}

#rect-1 {
  position: absolute;
  width: 190.82px;
  height: 202.65px;
  left: 15%;
  top: 15%;
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 12px;
}

#rect-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 75%;
  top: 8%;
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 12px;
}